/*Стили article_preview */
.article-preview{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: solid 5px steelblue;
}
.article-preview-slider{
    width: 400px;
    height: 600px;
    float: left;
}
.article-preview-slider-img{
    width: 400px;
    height: 400px;
    background-size: 400px;
}
.article-preview-name{
    width: 800px;
    height: 30px;
    margin: 10px 0;
    display: block;
    text-align: center;
    font:30px NotoSans, Geneva, sans-serif;
}
.article-preview-info{
    float: right;
    height: 600px;
    width: 400px;
}
.article-preview-price{
    width: inherit;
    height: 24px;
    display: block;
    text-align: center;
    font:24px NotoSans, Geneva, sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
}
.article-preview-action{
    width: 200px;
    height: 120px;
    margin: 0 auto;
}
.article-preview-body {
    margin-top: 10px;
    width: 360px;
    height: 300px;
    padding: 10px 20px 0 20px;
    font:16px NotoSans, Geneva, sans-serif;
}

.article-preview-fb{
    margin: 10px 0;
    width:inherit;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: none;
}
.article-preview-fb:focus{
    outline: none;
}
.article-preview-fb:hover{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: SteelBlue;
}
.article-preview-favorites{
    background-image: url("/images/no_favorites.png");
    background-size: 30px;
    width: 30px;
    height: 30px;
    float: left;
}
.article-preview-basket{
    background-image: url("/images/order.png");
    background-size: 30px;
    width: 30px;
    height: 30px;
    float: left;
}
.article-preview-fb:hover .article-basket{
    background-image: url("/images/order_full.png");
}
.article-preview-fb:hover .article-favorites{
    background-image: url("/images/favorites.png");
}
.article-preview-fb-name{
    height: 30px;
    text-align: left;
    display: block;
    width: 144px;
    float: right;
    font:20px NotoSans, Geneva, sans-serif;
    padding: 5px;
}

.modal-content {

    background-color: #fefefe;
    margin: auto;
    width: 800px;
    height: 600px;
    border: solid 5px steelblue;
}
.close_modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_modal:hover,
.close_modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}