.slider{
    height: 300px;
}
.slider-img {
    height: 300px;
    width: 100%;
}
.article-top{
    height: 200px;
    padding:20px;
    margin-bottom: 50px;
}
.mini-article{
    margin: 10px;
    float: left;
    width: 170px;
    height: 175px;

    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;

}
.mini-article:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.mini-article-logo{
    width: 170px;
    height: 175px;
}
.mini-article-logo-img{
    width: 100%;
    height: 100%;
}
.mini-article-info{
    background-color: white;
    height: 30px;
    padding: 15px 0;
    display: none;
    position: absolute;
}
.mini-article:hover .mini-article-info{
    display: block;
}
.mini-article-logo:hover .mini-article-button-info{
    display: block;
}
.mini-article-button-info{
    display: none;
    color: white;
    position: absolute;
    margin: 80px auto;
    border: none;
    text-align: center;
    text-decoration: none;
    width: 170px;
    height: 30px;
    /*font-size: 14px;*/
    font:14px NotoSans, Geneva, sans-serif;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.mini-article-button-info:hover {
    background-color: SteelBlue;
}
.mini-article-button-info:focus {
    outline: none;
}
.mini-article-favorites{
    background-color: white;
    background-image: url("/images/no_favorites.png");
    background-size: 30px;
    width: 30px;
    height: 30px;
    float: left;
    border: none;
    cursor: pointer;
}
.mini-article-favorites-active{
    background-image: url("/images/favorites.png");
}
.mini-article-favorites:hover{
    background-image: url("/images/favorites.png");
}
.mini-article-favorites:focus{
    outline: none;
}
.mini-article-basket{
    background-color: white;
    background-image: url("/images/order.png");
    background-size: 30px;
    width: 30px;
    height: 30px;
    float: right;
    border: none;
    cursor: pointer;
}
.mini-article-basket-active{
    background-image: url("/images/order_full.png");
}
.mini-article-basket:hover{
    background-image: url("/images/order_full.png");
}
.mini-article-basket:focus{
    outline: none;
}
.mini-article-price-div{
    height: 30px;
    width: 110px;
    float: left;
}
.mini-article-price{
    padding: 5px 0 ;
    text-align: center;
    display: block;
    font:16px NotoSans, Geneva, sans-serif;
}