.user-left{
    float: left;
    min-height: inherit;
    width: 200px;
    display: block;
}
.user-logo{
    width: inherit;
    height: 200px;
    background-image: url("/images/no_img2.jpg");
    background-size: 200px;
    margin: 5px 0;
}
.user-right{
    display: block;
    float: right;
    min-height: 470px;
    width: 780px;
    margin: 5px;
    background-color: steelblue;
}
.user-right-content{
    min-height: 470px;
    width: 760px;
    background-color: white;
    margin: 10px;
    display: block;
}
.user-info{
    height: 470px;
    width: 400px;
    margin: 0 auto;
}
.user-info-left{
    height:150px;
    width: 150px;
    float: left;
}
.user-info-h2{
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font:32px NotoSans, Geneva, sans-serif;
}
.user-info-h3{
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font:24px NotoSans, Geneva, sans-serif;
}
.user-info-h4{
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font:18px NotoSans, Geneva, sans-serif;
}
.user-info-span{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font:16px NotoSans, Geneva, sans-serif;
    cursor: default;
    margin: 15px;
}

.user-info-left-span{
    display: block;
    height: 15px;
    width: 130px;
    text-align: right;
}
.user-info-right-span{
    /*float: right;*/
    display: block;
    height: 15px;
    width: 230px;
    text-align: left;
}
.user-info-right{
    height: 150px;
    width: 250px;
    float: right;
}
.user-info-btn{
    height: 50px;
    width: 150px;
    margin: 0 auto;
    display: block;
}
.user-info-btn-active {
    background-color: steelblue;
    color: white;
}
.user-info-btn:hover{
    background-color: steelblue;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: white;
}
.user-info-btn:focus{
    outline: none;
}
.user-menu-btn {
    height: 71px;
    width: 200px;
}

/*стили изменения профиля */
.user-refactor{
    height: 470px;
    width: 640px;
    margin: 0 auto;
}
.user-refactor-left{
    height:350px;
    width: 320px;
    float: left;
}
.user-refactor-right{
    height:350px;
    width: 320px;
    float: right;
}
.user-refactor-span{
    display: block;
    text-align: center;
    width: 290px;
    height: 20px;
    margin: 20px 0;
    font:20px NotoSans, Geneva, sans-serif;
}
.user-refactor-input{
    float: inherit;
    padding: 5px;
    width: 290px;
    font:14px NotoSans, Geneva, sans-serif;
    border: none;
    background-color: white;
    margin: 5px auto;
    border-bottom: solid 2px transparent;
    transition: border-bottom 0.4s
}
.user-refactor-input:focus{
    outline: none;
    border-bottom: solid 2px steelblue;
}
.user-refactor-input:hover{
    outline: none;
    border-bottom: solid 2px steelblue;
}

/*стили регистрации / входа */
.user-login-window{
    height: 400px;
    width: 400px;
    background-color: white;
    margin: 0 auto;
}
.user-login-window-content{
    border: solid 2px steelblue;
    width: 396px;
    height: 350px;
}
.user-login-name{
    height: 50px;
}
.user-login-name-button{
    float: left;
    height: 50px;
    width: 200px;
}
.user-login{
    height: 300px;
    width: 258px;
    margin: 0 auto;
}
.user-login-form{
    height: 125px;
    width: 258px;
    margin: 0 auto;
    padding-top: 58px;
}
.user-login-error{
    font:14px NotoSans, Geneva, sans-serif;
    color: black;
    display: block;
    height: 30px;
}
.user-registration-form{
    padding-top: 10px;
    height: 219px;
    width: 258px;
    margin: 0 auto;
}
.user-login-input{
    float: inherit;
    padding: 5px;
    width: 245px;
    font:14px NotoSans, Geneva, sans-serif;
    border: none;
    background-color: white;
    margin: 10px auto;
    /*border-bottom: solid 2px transparent;*/
    border-bottom: solid 2px steelblue;
    transition: border-bottom 0.4s;
}
.user-login-input:focus{
    border: none;
    outline: none;
    border-bottom: solid 2px steelblue;
}
.user-login-input:hover{
    outline: none;
    border-bottom: solid 2px steelblue;
}
.user-login-submit{
    height: 40px;
    width: 158px;
    float: inherit;
    margin: 10px auto;
    display: block;
}

/*стили списка заказов */
.user-order{
    height: 358px;
    overflow-y: scroll;
}
.user-order-btn{
    height: 50px;
    background-color: white;
    width: 100%;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font:16px NotoSans, Geneva, sans-serif;
    color: black;
    cursor: pointer;
    border: none;
}
.btn-order{
    margin: 0 auto;
    height: 50px;
    display: block;
}
.user-order-span{
    width: 200px;
    display: inline-block;
}
.user-order-btn:hover{
    background-color: SteelBlue;
    color: white;
}
.user-order-btn:focus{
    outline: none;
    background-color: SteelBlue;
    color: white;
    border: none;
}
.user-order-info{
    width:inherit;
    height: 250px;
    overflow-y: scroll;
}

/* подробный заказ */
.user-order-details-span{
    width: 150px;
    display: inline-block;
}
.user-order-details-name{
    cursor: default;
    height: 30px;
    text-align: center;
    font:18px NotoSans, Geneva, sans-serif;
    color: black;
    /*margin-bottom: 10px;*/
    border-bottom: outset Gainsboro;
}
.user-order-details-a{
    text-decoration: none;
    cursor: pointer;
    height: 30px;
    display: block;
}
.user-order-details{
    margin-top: 10px;
    padding: 5px 0;
    height: 20px;
    text-align: center;
    font:16px NotoSans, Geneva, sans-serif;
    color: black;
}
.user-order-details-total{
    width: 300px;
    margin: 10px auto;
    /*margin-top: 10px;*/
}
.user-order-details-span-total{
    font:20px NotoSans, Geneva, sans-serif;
    display: inline-block;
    width: 150px;
    text-align: center;
    float: right;
}

/*стили корзины */
.btn-basket{
    margin: 0 auto;
    height: 50px;
    display: block;
}
.user-order-basket-span{
    width: 150px;
    display: inline-block;
    text-align: center;
}
.user-basket-number-div{
    display: inline-block;
    width: 116px;
    font:14px NotoSans, Geneva, sans-serif;
    border: none;
    background-color: white;
}
.user-order-basket-name{
    padding-top: 40px;
    cursor: default;
    height: 30px;
    text-align: center;
    font:18px NotoSans, Geneva, sans-serif;
    color: black;
    margin-bottom: 10px;
    border-bottom: outset Gainsboro;
}
.user-order-basket-name-div{
    width: 710px;
}
.user-order-basket-total{
    width: 400px;
    height: 24px;
    margin: 20px auto;
}
.user-order-basket-span-total{
    font:20px NotoSans, Geneva, sans-serif;
    display: inline-block;
    width: 200px;
    text-align: center;
    float: right;
}
.user-basket-btn{
    background-color: white;
    background-image: url("/images/del.png");
    background-size: 30px;
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
    border: none;
    margin: 5px 0;
}
.user-basket-btn:focus{
    outline: none;
}
.user-order-basket-a{
    text-decoration: none;
    cursor: pointer;
    height: 30px;
    display: block;
    width: 680px;
    float: left;
    margin-left: 20px;
    padding: 5px 0;
}
.user-basket{
    padding: 5px 0;
    height: 20px;
    text-align: center;
    font:16px NotoSans, Geneva, sans-serif;
    color: black;
}
.user-order-basket{
    margin-top: 10px;
    height: 20px;
    text-align: center;
    font:16px NotoSans, Geneva, sans-serif;
    color: black;
    width: 710px;
}

/*!*стили избранного *!*/
.user-favorites{
    overflow-y: scroll;
    width: inherit;
    height: 470px;
}
.mini-article-f{
    margin: 10px;
    float: left;
    width: 170px;
    height: 235px;
}
.mini-article-info-f{
    background-color: white;
    height: 30px;
    padding: 15px 0;
    display: block;
}
/*стили оформления заказа*/
.user-ordering-div{
    height:150px;
    width: 320px;
    margin: 0 auto;
}
.user-ordering-div2{
    height:250px;
    width: 320px;
    margin: 0 auto;
}
.user-ordering-div3{
    height:110px;
    width: 320px;
    margin: 0 auto;
}
.user-ordering-type{
    /*float: inherit;*/
    display: block;
    padding: 5px;
    width: 290px;
    font:14px NotoSans, Geneva, sans-serif;
    border: none;
    background-color: white;
    margin: 5px auto;
    border-bottom: solid 2px transparent;
    transition: border-bottom 0.4s
}
.user-ordering-type:focus{
    outline: none;
    border-bottom: solid 2px steelblue;
}
.user-ordering-type:hover{
    outline: none;
    border-bottom: solid 2px steelblue;
}
.radio {
    display: block;
    height: 25px;
    background-position: 0 -56px;
    coloR: #444;
    cursor: pointer;
    text-indent: 22px;
    font-size: 13px;
}
.radio.active {
    background-position: 0 -86px;
}
.user-ordering-span{
    display: block;
    text-align: center;
    width: 290px;
    height: 20px;
    padding: 10px 0;
    font:20px NotoSans, Geneva, sans-serif;
}