.catalog-article{
    padding: 0 20px;
}

.filter{
    height: 30px;
    width: inherit;
    /*background-color: SteelBlue;*/
}

.filter-add{
    border: none;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 16px;*/
    font:16px NotoSans, Geneva, sans-serif;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.filter-add:hover{
    /*background-color: SteelBlue;*/
    color: SteelBlue;
}

.catalog-page-info{
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: 150px;
    height: 11px;
    font:11px NotoSans, Geneva, sans-serif;
}
.mini-article-button{
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 40px;
}
/*стили карточки товара*/
.article-name{
    width: 990px;
    height: 30px;
    display: block;
    text-align: center;
    font:30px NotoSans, Geneva, sans-serif;
}
.article-header{
    width: 990px;
    min-height: 670px;
}
.article-header-preview{
    float: left;
    height: 670px;
    width: 500px;
}
#lightSlider{

}
.article-slider-img{
    width: 500px;
    height: 500px;
    background-size: 500px;
}
.article-header-info{
    float: right;
    min-height: 670px;
    width: 490px;
}
.article-price{
    width: inherit;
    height: 24px;
    display: block;
    text-align: center;
    font:24px NotoSans, Geneva, sans-serif;
    margin-top: 50px;
}
.article-header-action{
    width: 200px; /*390*/
    height: 200px;
    /*margin: 45px 95px;*/
    margin: 20px auto;
}
.article-favorites{
    background-image: url("/images/no_favorites.png");
    background-size: 30px;
    width: 30px;
    height: 30px;
    float: left;
}
.article-basket{
    background-image: url("/images/order.png");
    background-size: 30px;
    width: 30px;
    height: 30px;
    float: left;
}
.article-header-fb{
    margin: 10px 0;
    width:inherit;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: none;
}
.article-header-fb:focus{
    outline: none;
}
.article-header-fb:hover{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: SteelBlue;
}
.article-header-fb:hover .article-basket{
    background-image: url("/images/order_full.png");
}
.article-header-fb:hover .article-favorites{
    background-image: url("/images/favorites.png");
}
.article-header-fb-name{
    height: 30px;
    text-align: left;
    display: block;
    width: 144px;
    float: right;
    font:20px NotoSans, Geneva, sans-serif;
    padding: 5px;
}
.article-refactor{
    background-image: url("/images/refactor.png");
    background-size: 30px;
    width: 30px;
    height: 30px;
    float: left;
}
.article-header-fb-a{
    display: block;
    margin: 10px 0;
    width: 200px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: none;
    text-decoration: none;
    color: black;
    /*padding: 1px 6px;*/
}
.article-header-fb-name-a{
    height: 30px;
    text-align: left;
    display: block;
    width: 150px;
    float: right;
    font:20px NotoSans, Geneva, sans-serif;
    padding: 5px;
}
.article-header-fb-a:hover{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: SteelBlue;
}
.article-content-header{
    min-height: 310px;
    width: 460px;
    padding: 15px;
    font:18px NotoSans, Geneva, sans-serif;
}
.article-content-header-span{
    display: block;
}
.article-content{
    width: inherit;
    min-height: 0px;
}
.article-content-nav{
    width: inherit;
    height: 50px;
}
.article-content-nav-button{
    float: left;
    height: 50px;
    width: 495px;
    font:16px NotoSans, Geneva, sans-serif;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
 }
.article-content-nav-button-active{
    background-color: SteelBlue;
    color: white;
}
.article-content-nav-button:focus{
    outline: none;
}
.article-content-comment-add{
    margin: 20px 0;
    width: 990px;
    height: 250px;
}
.article-content-comment-add-textarea{
    display: block;
    /*padding: 5px;*/
    width: 990px;
    font:14px NotoSans, Geneva, sans-serif;
    /*border: none;*/
    height: 200px;
    background-color: white;
    /*margin: 5px auto;*/
    border: solid 2px transparent;
    transition: border 0.4s;
    resize: none;
}
.article-content-comment-add-textarea:focus{
    outline: none;
    border: solid 2px steelblue;
}
.article-content-comment-add-textarea:hover{
    outline: none;
    border: solid 2px steelblue;
}
.article-content-comment-add-btn{
    float: left;
    width: 150px;
    height: 50px;
}
.article-content-comment{
    margin: 20px 0;
    width: 990px;
    min-height: 200px;
    border: solid 2px steelblue;
}
.article-content-comment-name{
    font:20px NotoSans, Geneva, sans-serif;
    display: block;
    height: 20px;
    width: 200px;
    color: black;
    padding: 15px 0 15px 20px;
}
.article-content-comment-date{
    font:14px NotoSans, Geneva, sans-serif;
    display: block;
    height: 16px;
    width: 200px;
    color: black;
    padding: 15px 0 15px 20px;
}
.article-content-comment-m{
    min-height: 100px;
    width: 500px;
    padding: 0 0 20px 50px;
    font:18px NotoSans, Geneva, sans-serif;
}