.admin-logo{
    width: inherit;
    height: 200px;
    background-image: url("/images/admin.jpg");
    background-size: 200px;
    margin: 5px 0;
}
.admin-order-status{
    float: inherit;
    padding: 5px;
    width: 150px;
    font:14px NotoSans, Geneva, sans-serif;
    border: none;
    background-color: white;
    margin: 5px auto;
    border-bottom: solid 2px transparent;
    transition: border-bottom 0.4s
}
.admin-order-status:focus{
    outline: none;
    border-bottom: solid 2px steelblue;
}
.admin-order-status:hover{
    outline: none;
    border-bottom: solid 2px steelblue;
}
.btn-order-admin{
    margin: 0 auto;
    height: 30px;
    width: 150px;
    display: inline-block;
}
.admin-form-status{
    width: 350px;
    margin: 0 auto;
}

/*стили списка пользователей */
.admin-users-info{
    width:inherit;
    height: 390px;
    overflow-y: scroll;
}
.admin-users-span2{
    display: inline-block;
    text-align: left;
}
.admin-users-name-div{
    width: 710px;
    padding: 10px 0;
}
.admin-users-name{
    cursor: default;
    height: 30px;
    text-align: left;
    font:18px NotoSans, Geneva, sans-serif;
    color: black;
    border-bottom: outset 2px Gainsboro;
}
.admin-index-user-a{
    text-decoration: none;
    font:16px NotoSans, Geneva, sans-serif;
    color: black;
}
.admin-index-user-btn{
    background-color: white;
    text-align: left;
    /*-webkit-transition-duration: 0.4s;*/
    /*transition-duration: 0.4s;*/
    color: black;
    cursor: pointer;
    border: none;
    /*width: 150px;*/
    height: 30px;
    font:16px NotoSans, Geneva, sans-serif;
}
.admin-index-user-btn:hover{
    /*color: steelblue;*/
}
.admin-index-user-btn:focus{
    outline: none;
    /*color: white;*/
    border: none;

}
.admin-users{
    padding: 15px 0;
    height: 20px;
    /*text-align: center;*/
    font:18px NotoSans, Geneva, sans-serif;
    color: black;
    border-bottom: outset 1px Gainsboro;
}
.admin-users-span{
    display: inline-block;
    text-align: left;
    padding-left: 10px;
}
.admin-users-span-name{
    width: 100px;
    padding: 0 10px 0 20px;
}
.admin-users-span-email{
    width: 250px;
    padding: 0 10px;
}
.admin-users-span-phone{
    width: 128px;
    padding: 0 10px;
}
.admin-users-span-status{
    width: 126px;
    padding: 0 10px;
}
.btn-users-admin{
    margin: 10px auto;
    height: 30px;
    width: 150px;
    display: block;
}
.admin-users-status{
    float: inherit;
    padding: 5px;
    width: 170px;
    font:14px NotoSans, Geneva, sans-serif;
    border: none;
    background-color: white;
    margin: 5px auto;
    border-bottom: solid 2px transparent;
    transition: border-bottom 0.4s
}
.admin-users-status:focus{
    outline: none;
    border-bottom: solid 2px steelblue;
}
.admin-users-status:hover{
    outline: none;
    border-bottom: solid 2px steelblue;
}

/*стили добавления товара*/
.admin-articles-textarea{
    display: block;
    padding: 5px;
    width: 400px;
    font:14px NotoSans, Geneva, sans-serif;
    border: none;
    background-color: white;
    margin: 5px auto;
    border: solid 2px transparent;
    transition: border 0.4s;
    resize: none;
}
.admin-articles-textarea:focus{
    outline: none;
    border: solid 2px steelblue;
}
.admin-articles-textarea:hover{
    outline: none;
    border: solid 2px steelblue;
}
.admin-refactor-status{
    height: 36.8px;
    display: inline-block;
    padding: 5px;
    width: 150px;
    font:14px NotoSans, Geneva, sans-serif;
    border: none;
    background-color: white;
    margin: 5px auto;
    border-bottom: solid 2px transparent;
    transition: border-bottom 0.4s;
}
.admin-refactor-status:focus{
    outline: none;
    border-bottom: solid 2px steelblue;
}
.admin-refactor-status:hover{
    outline: none;
    border-bottom: solid 2px steelblue;
}
.admin-refactor-number-div{
    display: inline-block;
    padding: 5px;
    width: 116px;
    font:14px NotoSans, Geneva, sans-serif;
    border: none;
    background-color: white;
    margin: 5px 0 5px 20px;
    border-bottom: solid 2px transparent;
    transition: border-bottom 0.4s;
}
.admin-refactor-number-div:focus{
    border-bottom: solid 2px steelblue;
}
.admin-refactor-number-div:hover{
    border-bottom: solid 2px steelblue;
}
.admin-refactor-sn{
    width: 300px;
    margin: 0 auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}
.user-refactor-number{
    display: inline-block;
    padding: 5px;
    width: 50px;
    height: 14px;
    font:14px NotoSans, Geneva, sans-serif;
    border: none;
    background-color: white;
    text-align: center;
}
.user-refactor-number:focus{
    outline: none;
}
.user-refactor-number:hover{
    outline: none;
}
.minus-plus{
    padding: 0;
    width: 24px;
    height: 24px;
}
.admin-articles-input{
    padding: 5px;
    width: 400px;
    font:14px NotoSans, Geneva, sans-serif;
    border: none;
    background-color: white;
    margin: 5px auto;
    display: block;
    border-bottom: solid 2px transparent;
    transition: border-bottom 0.4s
}
.admin-articles-input:focus{
    outline: none;
    border-bottom: solid 2px steelblue;
}
.admin-articles-input:hover{
    outline: none;
    border-bottom: solid 2px steelblue;
}
.admin-articles-span{
    display: block;
    text-align: center;
    width: 290px;
    height: 20px;
    margin: 0 auto;
    padding: 10px 0;
    font:20px NotoSans, Geneva, sans-serif;
}
.admin-articles-file {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 20px;
    background: Gainsboro;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 8px 4px;
    color: black;
    text-align: center;
    display: block;
    margin: 5px auto;
    font: 16px NotoSans, Geneva, sans-serif;
}
.admin-articles-file:hover {
    background: steelblue;
    color: white;
}
.admin-articles-file input[type="file"]{
    display: none;
}
.admin-articles-file-label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.admin-articles-file-span {
    line-height: 36px;
}
/*стили orders */
.admin-orders-filter{
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font:16px NotoSans, Geneva, sans-serif;
    height: 36px;
    width: 760px;
}
.admin-orders-filter-span{
    display: inline-block;
    margin: 5px auto;
    padding: 5px;
    font-weight: bold;
}
.admin-orders-filter-date{
    float: inherit;
    padding: 2px;
    width: 100px;
    font:14px NotoSans, Geneva, sans-serif;
    border: none;
    background-color: white;
    margin: 5px auto;
    border-bottom: solid 2px transparent;
    transition: border-bottom 0.4s
}
.admin-orders-filter-date:focus{
    outline: none;
    border-bottom: solid 2px steelblue;
}
.admin-orders-filter-date:hover{
    outline: none;
    border-bottom: solid 2px steelblue;
}

/*стили order-details */
.admin-order-details-user{
    background-color: white;
    text-align: left;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: black;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 24px;
    font:24px NotoSans, Geneva, sans-serif;
}
.admin-order-details-user:hover{
    color: steelblue;
}
.admin-order-details-user:focus{
    outline: none;
    color: white;
    border: none;

}