.clear{clear:both}
body{
    margin:0;
    padding:0;
    background-color: white;
}
header {
    background-color: SteelBlue;
    height: 100px;
    position: relative;
}
.gap{
    margin-top:20px;
}
.lk{
    height: 20px;
    width: 990px;
    margin: 0 auto;
}
.header-lk{
    font:14px NotoSans, Geneva, sans-serif;
    padding: 2px 5px;
    float: right;
    vertical-align: middle;
    text-decoration: none;
    color: azure;
    display: block;
}
#logo{
    margin: 0 auto;
    width: 150px;
    height: 50px;
    text-align: center;

}
.header-main{
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-decoration: none;
    font:32px tempus sans itc, Geneva, sans-serif;
    color: azure;
    display: block;
}
.wrapper{
    min-height: 500px;
    width: 990px;
    margin: 0 auto;
}
.content{
    min-height: inherit;
    width: inherit;
    margin: 0 auto;
}
.btn{
    background-color: Gainsboro;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font:16px NotoSans, Geneva, sans-serif;
    color: black;
    cursor: pointer;
    border: none;
}
.btn:hover{
    background-color: SteelBlue;
    color: white;
}
.btn:focus{
    outline: none;
    background-color: SteelBlue;
    color: white;
    border: none;
}
.btn-active{
    background-color: SteelBlue;
    color: white;
}
footer{
    background-color: SteelBlue;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
#menu-footer {
    width: 244px;
    margin: 0 auto;
    padding: 20px;
    list-style-type: none;
}
#menu-footer li {
    width: 100px;
    margin: 0 auto;
    display: inline;
}
#menu-footer a {
    font:11px NotoSans, Geneva, sans-serif;
    color: azure;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100px;
}
#menu-footer a:hover {
}
