#user-menu{
    background-color: steelblue;
    padding: 0 auto;
    width: 990px;
}
.user-menu-ul{
    margin: 0;
    padding: 0;
    height: 20px;
    list-style-type: none;
}
.user-menu-li {
    float: right;
    height: 100%;
    min-width: 140px;
}
.user-menu-li-img{
    width: 10px;
    height: 10px;
    background-image: url("/images/tr.png");
    background-size: 10px;
    display: inline-block;
    transition: transform 0.2s linear;
}
.user-menu-li:hover .user-menu-li-img{
    transform: rotate(90deg);
}
.user-menu-li:hover .user-sub-menu{
    display: block;
    position: static;
}
.user-sub-menu{
    display: none;
    list-style-type: none;
    width: 140px;
    height: 200px;
    padding: 0;
    z-index: 101;
}
.user-sub-menu-li {
    float: right;
    position: relative;
    height: 20px;
    z-index: 101;
}
.user-sub-menu-li-lk{
    margin-left: 20px;
}
.header-top-menu-div{
    height: 30px;
    width: 990px;
    margin: 0 auto;
}
.header-top-menu-div2{
    background-color:steelblue ;
    height: 30px;
    left: 0;
    right: 0;
    position: fixed;
}
#header-top-menu{
    position: fixed;
    background-color: steelblue;
    padding: 0 auto;
    width: 990px;
    z-index: 100;
}
#top-menu , #top-menu  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#top-menu  li {
    float: left;
    position: relative;
    height: 100%;
}
#top-menu  li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: white;
    text-decoration: none;
    text-align: center;
    font:14px NotoSans, Geneva, sans-serif;
}
